@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.Toolbar {
  height: 10vh;
  background: #d9bddb;
  display: flex;
  place-items: center;
  gap: 1vw;
}

.elements {
  list-style: none;
  padding: 0 0 0 0;
  display: flex;
  /* align-items: flex-end; */
}

div {
  font-family: 'Montserrat', sans-serif;
}